slurmscripts/FermiStrTE/*
slurmscripts/Fij/*
slurmscripts/Mij/*
slurmscripts/Quench/*
slurmscripts/SSBStrTE/*
slurmscripts/queueall.sh
slurmscripts/tests/*
drivers/combined-TE/*
jobscripts/
builds/*
*.swp
*slurm*.out
drivers/GPUFij.jl
slurmscripts/FermiStrTE_k/
slurmscripts/Fermiloop/
slurmscripts/GSevo/
slurmscripts/Mij_k/
slurmscripts/Mij_k_PBC/
slurmscripts/Mijsq/
slurmscripts/MijsqHB/
slurmscripts/SCQuench/
slurmscripts/SCQuench_PBC/
slurmscripts/SCQuench_k/
slurmscripts/SCQuench_k_PBC/
slurmscripts/SSBStrTE_k/
slurmscripts/make_single_set.sh
slurmscripts/make_single_set_oBC.sh
slurmscripts/notes
slurmscripts/singlefermi/
slurmscripts/singlefermi_othBC/
test.sh
tut/

